---

---

<a
  class="flex text-white items-center cursor-pointer gap-2 rounded-lg px-3 disabled:opacity-50 disabled:cursor-not-allowed border hover:bg-[#1A1A2E] hover:border-slate-700 py-1 bg-transparent border-transparent transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
